.wrap
  .text-center
    %h2=@contest.title
    %p=image_tag @contest.image, size:'600'
    = @contest.description

  %hr
  %p
    = @contest.musics.count
    Tracks in contest
  %p
    %ul
    - @musics.each do |music|
      %p
        %tr
          %td
            -if user_signed_in?
              - if current_user.voted_for?(music)
                = music.audio_file_name
                = music.score
              - else
                = music.audio_file_name
                = link_to "upvote", like_contest_music_path(@contest, music), method: :put
                = music.score
            %audio{:controls => ""}
              %source{:src => music.audio.url, :type => "audio/mpeg"}
    -if @contest.code != ''
      -@promo='1'
      Insert promo-code here:

      %input#promo{:type => "text"}
      %span#hidenForm
        sdad
      =@promo
    -else
      =render 'musics/form'

=link_to "back", root_path
=link_to "Delete", contest_path, method: :delete