.wrap
  .text-center
    %h2=@contest.title
    %p=image_tag @contest.image, size:'600'
    .badge
      -if (@contest.contest_end.to_date-Time.now.to_date).to_i < 0
        contest closed
      -else
        =(@contest.contest_end.to_date-Time.now.to_date).to_i
        days left
    %p=@contest.description

  %hr
  %p
    = @contest.musics.count
    Tracks in contest
  %p
    %ul
    - @musics.each do |music|
      %p
        %audio{:controls => ""}
          %source{:src => music.audio.url, :type => "audio/mpeg"}
        = link_to music.user.profile.name, music.user.profile
        = music.audio_file_name.humanize.to(-5)
        = music.score
        = 'Vote'.pluralize(music.score)
        -if user_signed_in?
          -if current_user.can_vote?(@contest)
            = link_to "upvote", like_contest_music_path(@contest, music), method: :put
          - if current_user.role =='administrator'
            =link_to "delete track", contest_music_path(@contest,music), method: :delete

    -if user_signed_in?
      -if @contest.code != ''
        Insert promo-code here:
        %input#promo{:type => "text"}
      -else
        -if Time.now>@contest.contest_end
          Contest closed
        -elsif @musics.where(user_id: current_user.id).count!=0
          You take a part already
        -else
          =render 'musics/form'

=link_to "back", root_path
=link_to "Delete", contest_path, method: :delete