.wrap
  .text-center
    %h2=@contest.title
    %p=image_tag @contest.image, size:'600'
    = @contest.description
    = @contest.musics.count

  %hr
  %p
    = @contest.musics.count
    
  %p
    
    %ul
    - @musics.each do |music|
      %p
        %tr
          %td
            - if current_user.voted_for?(music)
              = music.audio_file_name
              = "You have already voted"
              = music.score
            - else
              = music.audio_file_name
              = link_to "upvote", like_contest_music_path(@contest, music), method: :put
              = music.score
              
            %audio{:controls => ""}
              %source{:src => music.audio.url, :type => "audio/mpeg"}
    -if @contest.code != nil
      blocked
    -else
      =render 'musics/form'

=link_to "back", root_path
=link_to "Delete", contest_path, method: :delete